@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800&display=swap');

:root {
    --cor-primaria: #0D47A1;
    --cor-secundaria: #4FC3F7;
    --cor-fonte: #fff;
    --background:#1a1a1a;
}
    
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    color: var(--cor-fonte);
}

.bemvindo{
    font-family: 'Poppins', sans-serif;
}

ul.titulo,
ul.sub-menu {
    margin: 0;
    padding: 0;
    background-color: var(--cor-primaria);
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

ul.sub-menu {
    background-color: var(--cor-secundaria);
}

li {
    float: center;
}

li a {
    color: var(--cor-fonte);
    text-align: center;
    padding: 15px;
    display: block;
    text-decoration: none;
    font-size: 50px;
}

li a:visited,
li a:link {
    color: var(--cor-fonte); 
}

ul.sub-menu li a:hover {
    background-color: #1a1a1a;
}

ul.sub-menu li{
    float: left;
}

ul.sub-menu li a {
    color: var(--cor-fonte);
    text-align: center;
    padding: 15px;
    display: block;
    text-decoration: none;
    font-size: 25px;
}



footer{
    color: var(--cor-secundaria);
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.container{
    float: right;
    width: 100%;
    padding: 0.5em;
    font-size: 18px;
    

}

.container .article{
    width: 100%;
    padding: 0.5em;
    border: 1px solid #1a1a1a;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    
}

.container .article img{
    width: 16%;
    height: 25%;
    border-radius: 2.0em;
    border-top-right-radius: 2.0em;
    border: 5px solid #fff;
    margin-top: auto;
    text-align: right;
}

.form-check {
    float: right;
    padding-right: 15px;
    padding-top: 15px;
}
