.materia {
    color: var(--cor-fonte);
    border: 5px solid #fff;
}

.img-salario{
    text-align:center;
    margin-top: 50px;
}

.container.article2{
    background-color: #1a1a1a;
    width: 100%;
    padding: 0.5em;
    border: 5px solid #fff;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 18px;

} 

h1 {
    text-align:center;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    

}

